<!DOCTYPE html>
<head>
	<title>Blog - Thatretrodev's website</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script src="/js/main.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/">Thatretrodev's website</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	
		<div class="collapse navbar-collapse " id="navbarColor02">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/blog">Blog
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/demos">Demos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/aboutme">About me</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="w-50 mx-auto" id="page_content">
		<br></br>
		<div class="container">
			<% blog_posts.forEach(function(blog_post){ %>
				<%- include('blog_post_card', {blog_post_title: blog_post[0], blog_post_date: blog_post[1], blog_post_preview: blog_post[2], blog_post_id: blog_post[3]}); %>
			<% }); %>
		</div>
	</div>
</body>