<div class="row">
	<div class="card" style="width: 95%;">
		<div class="card-body">
			<h5 class="card-title"><%= blog_post_title %></h5>
			<h6 class="card-subtitle mb-2 text-muted">Posted on <%= blog_post_date %> (DD/MM/YYYY)</h6>
			<p class="card-text"><%= blog_post_preview %></p>
			<a href="/blog/<%= blog_post_id %>" class="card-link">Read</a>
		</div>
	</div>
</div>
<br></br>