<!DOCTYPE html>
<head>
	<title>Home - Thatretrodev's website</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script src="/js/main.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/">Thatretrodev's website</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	
		<div class="collapse navbar-collapse " id="navbarColor02">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">Home
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/blog">Blog</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/demos">Demos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about_me">About me</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="w-50 mx-auto" id="page_content">
		<br></br>
		<h1>Thatretrodev's Website</h1>
		<p>Hello, I'm thatretrodev and this is my website.</p>
		<p>If you want to see my blog posts, go <a href="/blog">here</a>.</p>
		<p>If you want to see some of my demos (mainly for MS-DOS), go <a href="/demos">here</a>.</p>
		<p>And if you want to learn more about who I am, go <a href="/about_me">here</a>.</p>
	</div>
</body>