<head>
	<meta name="blog_post_title" content="Hello, World!"></meta>
	<meta name="blog_post_date" content="03/05/2021"></meta>
</head>
<div id="post_title">
	<h1>Hello, World!</h1>
</div>
<hr class="bg-secondary"></hr>
<div id="post_contents">
	<p>The text "Hello, World" is used as an example for programming.</p>
	<p>I actually find it quite common, seeing a "Hello, World!" example for way too many programming languages.</p>
</div>