<head>
	<meta name="blog_post_title" content="Just some code"></meta>
	<meta name="blog_post_date" content="03/05/2021"></meta>
</head>
<div id="post_title">
	<h1>Just some code</h1>
</div>
<hr class="bg-secondary"></hr>
<div id="post_contents">
	<p>function recursion() {recursion();}</p>
	<p>function halfof(input_number) {return input_number / 2;}</p>
</div>